body {
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  font-family: "HelveticaNeue-Light";
  font-weight: 300;
  font-size: 12px;
  margin-left: -15px; 
  margin-right: -15px;
}

/** header **/
#header-nav {
  background-color: #44acca;
  height: 8vw;
  margin: 0px;
  padding: 0px; 
}
.navbar-brand {
  padding: 10px;
}
.navbar-brand h1 {
  color: #eba267;
  font-size: 5vw;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  padding: 1vw;
  padding-left: 15px;
  padding-bottom: 10px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header{
  padding-right: 25px;
  padding-left: 25px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid #eba267;
}
#nav-list li{
  width: 100%;
  padding: auto; 
  text-align: center;
  font-size: 3vw;
  color: #44acca;
}
#collapsable-nav{
  background-color: #eba267;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
/* end of header*/

.container{
  margin: 0px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
}
.text-center{
  padding: 25px auto 25px;
}
#menu{
  margin-bottom: 1vw;
  padding: 25px;
}
#menu h2{
  font-size: 4.5vw;
}
#chicken-box{
  background-color: #80cac6;
  font-size: 3vw;
  margin-top: 20px;
}
#chicken-box h3{
  padding-top: 5px;
  margin: 25px 0px 25px;
  font-size: 4vw;
}